<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.navalgroup.capella.vp.modelicalink.vpdsl.description"
	        tags="vpdesc"
	        name="modelicalink"
	        path="/com.navalgroup.capella.vp.modelicalink.vpdsl/model/modelicalink.vpdesc"/>
	</extension>


	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.navalgroup.capella.vp.modelicalink.vpdsl.resource.modelicalink.spec"
	        tags="Viewpoint"
	        name="spec"
	        path="/com.navalgroup.capella.vp.modelicalink.vpdsl/model/modelicalink.spec.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.navalgroup.capella.vp.modelicalink.vpdsl.resource.modelicalink.data"
	        tags="Viewpoint"
	        name="data"
	        path="/com.navalgroup.capella.vp.modelicalink.vpdsl/model/modelicalink.data.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.navalgroup.capella.vp.modelicalink.vpdsl.resource.modelicalink.conf"
	        tags="Viewpoint"
	        name="conf"
	        path="/com.navalgroup.capella.vp.modelicalink.vpdsl/model/modelicalink.conf.vptext"/>
	</extension>
</plugin>